<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiFJNgCuKKugyw0mBVlxJIrGP5YIu5cKs</string>
	<key>GCM_SENDER_ID</key>
	<string>498166534397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.febracis.pvresponde</string>
	<key>PROJECT_ID</key>
	<string>oxford-dev-14adb</string>
	<key>STORAGE_BUCKET</key>
	<string>oxford-dev-14adb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498166534397:ios:98d1ad92b520e67db42e94</string>
</dict>
</plist>